# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
ENV/
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# Data
*.csv
*.xlsx
data/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Outputs
results/plots/
results/reports/
*.pdf

.vs/